section.section-wide {
    width: 100%;
    padding: 3em 4em 3em 4em;
}

div.blurred {
    filter: blur(5px) brightness(0.5);
    -webkit-filter: blur(5px) brightness(0.5);
    -moz-filter: blur(5px) brightness(0.5);
    -o-filter: blur(5px) brightness(0.5);
    -ms-filter: blur(5px) brightness(0.5);
    filter: blur(5px) brightness(0.5);

    z-index: 1;
}

p.info {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.animated-link {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}}

.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
