section.section-wide {
    width: 100%;
    padding: 3em 4em 3em 4em;
}

div.blurred {
    filter: blur(5px) brightness(0.5);
    -webkit-filter: blur(5px) brightness(0.5);
    -moz-filter: blur(5px) brightness(0.5);
    -o-filter: blur(5px) brightness(0.5);
    -ms-filter: blur(5px) brightness(0.5);
    filter: blur(5px) brightness(0.5);

    z-index: 1;
}

p.info {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.blurred-bcg {
    position:absolute;
    -webkit-filter: blur(5px);
    -webkit-transformation: scale(1.1);
    overflow: hidden;
    margin: -5px;
}

.blue-separator {
    background-color: #3071B8;
}

.info-section {
    background-color: #3071B8;
    padding: 5% 10%;
    text-align: center;

}

img.info-section {
    width: 100%;
}

#game-info-carousel {
    background-color: #3071B8;
    height: 100%;
}
.summary-form {
    margin-top:30px;
}