html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}


.carousel {
    margin-top: -20px;
}

.item:nth-child(1) {
    background-image: url(/img/start_slide.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.item:nth-child(2) {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/19/The_Swapper_-_Screenshot_03.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.item:nth-child(3) {
    background-image: url(http://brandflow.pl/wp-content/uploads/2015/08/kfi5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

footer.page-footer {
    margin-top: 0;
}
    
.navbar {
    z-index: 10;
}

.game-page {
    background-image: url(/img/game_page_background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.game {
    margin-top: 15%;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
    border-color: grey;
}

.start-slide {
    padding-bottom: 320px;
}