html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}


.carousel {
    margin-top: -20px;
}
#creator-carousel .item:nth-child(1) {
    background-image: url(http://www.dsogaming.com/wp-content/uploads/2012/02/ForestPlanet-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#carousel-example-generic .item:nth-child(1) {
    background-image: url(/img/start_slide.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#game-info-carousel .item:nth-child(1) {
    background-image: url(/img/how_to.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#game-template-carousel .item:nth-child(1) {
    background-image: url(/img/games/cat2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#game-template-carousel .item:nth-child(2) {
    background-image: url(/img/games/droplet2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#game-template-carousel .item:nth-child(3) {
    background-image: url(/img/games/platformer2.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

footer.page-footer {
    margin-top: 0;
}
    
.navbar {
    z-index: 10;
}

.game-page {
    background-image: url(/img/game_page_background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.game {
    margin-top: 15%;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
    border-color: grey;
}

.start-slide {
    padding-bottom: 320px;
}

body {
    background-color: #3071B8 !important;
}

.info-slide {
    padding-bottom: 35%;
}